:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --kolibri-spacing: 0.3rem;
  --kolibti-border-radius: 2px;
  /* --kolibri-color-primary: #cc006e; */
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
